<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "https://fart-test.site"
        versionCode = "10"
        version     = "1.0.0">

    <name>ТЕСТ. FART GAME</name>

    <description>
        Рулетка фарт гейм
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/e98257ebd3b9106e5b7e0fb8bd238eb7.png" density="ldpi" />
        <icon src="res/android/icon/65b6dd998e0ca381a577fdebbd342159.png" density="mdpi" />
        <icon src="res/android/icon/7be15bf033fc8513b4ecbd211d32e4a0.png" density="hdpi" />
        <icon src="res/android/icon/97973a828264a5612de21f03a1605f88.png" density="xhdpi" />
        <icon src="res/android/icon/0f2eb4cdf7fda4a470096fac250f192a.png" density="xxhdpi" />
        <icon src="res/android/icon/683bdcda0bfea7cc3a677dc0598fec45.png" density="xxxhdpi" />

        <splash src="res/android/screen/131f91ee02143a01784ce044057b4ff4.png" density="port-hdpi"/>
        <splash src="res/android/screen/a9e59d6bda6813314a88cb53ac0a118e.png" density="port-ldpi"/>
        <splash src="res/android/screen/b59a26cd3bef51170376536ff7e3cfed.png" density="port-mdpi"/>
        <splash src="res/android/screen/fef9415448a5b5b78cc8f6af5a84f1d8.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/0115a47f3c0b1872f480fd42390f071c.png" width="180" height="180" />
        <icon src="res/ios/icon/039754b5adf9656b67d28d341fbe69ca.png" width="60" height="60" />
        <icon src="res/ios/icon/6be119c8e321201e44c868161aee4f0d.png" width="120" height="120" />
        <icon src="res/ios/icon/1bc3135416041794a40a95aa293d0b56.png" width="76" height="76" />
        <icon src="res/ios/icon/2ee3001a531d74865a3277a2efc80e54.png" width="152" height="152" />
        <icon src="res/ios/icon/488bbffd96e62e8031bd801a3760fa35.png" width="57" height="57" />
        <icon src="res/ios/icon/db07c4f08ff4b719d0fc32802dffbd5e.png" width="114" height="114" />
        <icon src="res/ios/icon/bd23c2ebf7c29fda33f12833a67e280d.png" width="72" height="72" />
        <icon src="res/ios/icon/5f705ac902d433d4fa0bf8e2ffa92793.png" width="144" height="144" />
        <icon src="res/ios/icon/3178bef6b5eb00270bb42439d3ba1c0d.png" width="167" height="167" />
        <icon src="res/ios/icon/3116b4bc57c1cdbf76dee32605f8fc99.png" width="29" height="29" />
        <icon src="res/ios/icon/11c181c2a53ded72912edbc8af43bc3d.png" width="58" height="58" />
        <icon src="res/ios/icon/9721dcc562e5ba6428794e5c28db0c64.png" width="87" height="87" />
        <icon src="res/ios/icon/08254159c77b6de3c0232b399294e852.png" width="167" height="167" />

        <splash src="res/ios/screen/67d30342623d173e7c706da6220e9505.png" />
        <splash src="res/ios/screen/4bde0e1127ff7009d2439fac1dd662cf.png" />
        <splash src="res/ios/screen/d57c82a3683da9085d406a5add581aa1.png" />
        <splash src="res/ios/screen/80517d38eb81f4f7de46684261c1f589.png" />
        <splash src="res/ios/screen/c1cf5dd10c137a71ce6cc5ce70f7cea4.png" />
        <splash src="res/ios/screen/a1cf9b8be4e04f64fcd9ad79091a8be5.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/d961fc36a1b6d6c73f1c1156fed75aca.png" target="StoreLogo" />
        <icon src="res/windows/icon/b06592a3bc2142eb5995add72a9d4ca1.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/711b4d78aed3c7cdda6ffc849c831b5e.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/c0ce69b980d3a7d420c38ff3317ed228.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/b0fd0544c9d724ff350e30be7fc70264.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/690a863765c18527f359de880b0ce8b9.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/135911dda0d0ecff3bb4b1cbf16e8a17.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/dcd4d764ebd2e2937e792929f081b0d1.png" target="SplashScreen"/>
        <splash src="res/windows/screen/53915632da0459a1850625bb21b19a42.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>